{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "defaults"
        },
        "modules": false
      }
    ]
  ],
  "ignore": [
    "**/*.test.js"
  ]
}
